.search-bar {
    position: relative;
    // background-color: darkcyan;
    // border: 1px solid black;
}

.search-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: darkcyan;
    // z-index: 10;
    padding: 5px;
    list-style: none;
}

.search-list li{
    position: static;
    display: block;
}

.search-list li:hover{
    background-color: white;
}