.header {
    display: flex;
    background-color: green;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.nav {
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
}

.link.active {
  color: yellow;
  font-weight: 700;
  border-bottom: 2px solid yellow;
}
